<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
		<title>修改密码</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<link href="/static/css/index.css" rel="stylesheet" type="text/css" />
		<script src="/static/js/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/js/index.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<style>
		*{text-decoration: none;padding: 0;margin: 0;font-family: "Microsoft YaHei";}
		.oldTel{margin: 5vh auto;text-align: center;font-size: 3vh;color: #a7a6a6}
		.oldTel .now{font-size: 2.5vh}
		.icon1{font-weight:bold;width:90%;height:6vh;background:url('/static/img/password.png') no-repeat 2% center;background-size:5vw auto;background-color: #eee;margin: 2vh 5%;border-radius: 0.5vh;}
		.icon1 .telephone{float:left;border:none;background:none;height:6vh;line-height:6vh;width:100%; text-indent:10%;font-size: 4vw;border-radius:  0.5vh;}
		.icon2{font-weight:bold;width:90%;height:6vh;background:url('/static/img/passwordc.png') no-repeat 2% center;background-size:5vw auto;background-color: #eee;margin: 2vh 5%;border-radius: 0.5vh;}
		.icon2 .telephone{float:left;border:none;background:none;height:6vh;line-height:6vh;width:100%; text-indent:10%;font-size: 4vw;border-radius:  0.5vh;}
		.btn{width:90%;height:6vh;border-radius:1vw;margin: 0 auto;color:#fff;background-color: #1bb2e9;text-align: center;line-height:6vh;font-size: 3vh;margin-top:55vh;}
	</style>
	<body>
		<div class="tp" id="main" style="min-width:300px!important; max-width:768px!important;  margin:auto; overflow:hidden;">
			<img src="/static/img/revisePass.png" class="banner"></img>
			<div class="icon1">
				<input type="tel" id="phone" class="telephone" placeholder="&nbsp;请设置密码">
			</div>
			<div class="icon2">
				<input type="tel" id="phone" class="telephone" placeholder="&nbsp;请确认密码">
			</div>
			
			<div class="btn">完成</div>
		</div>
	</body>

</html>